body {

	background-color: rgba(255,255,245,0.8);
}

.no-display {
    display: none;
}


.center {
    margin: auto;
    padding: 20px 0px;
    text-align: center;
    font-size: 14px;
	width: 100%;
}

.header {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	height: 100px;
	background-image: url(header_back.jpg);
	background-size: cover;
	background-repeat: repeat-x 3;
}

.title {
    font-size: 30px;
    margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
    color: #4462a1;
	padding: 10px;
	width: 700px;
	height: auto;
	background-color: rgba(255,255,245,0.8);
}

.title_small {
    font-size: 15px;
	margin-top:10px;

    margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
    color: #4462a1;
	padding: 10px;
	width: 400px;
	height: auto;
	background-color: rgba(255,255,245,0.8);
}

.content {
    margin-top: 20px;
}

.analyze {
    margin-top: 1em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
	color: #4462a1;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFFFF7;
    border: solid 1px #F5AC43;
    font-size: 15px;
    color: #F5AC43;
	vertical-align:top;
}

button.choose-file-button:hover {

    background-color: #FFFFE0;
    border: solid 1px #F5AC43;

    color: #F5AC43;
}

button.choose-file-button:active {

    background-color: #FFFDF2;
    border: solid 1px #F5AC43;

    color: #F5AC43;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #F18BB3;
    border-radius: 5px;
    background-color: #F18BB3;
    font-size: 15px;
    color: #ffffff;
}

button.analyze-button:hover{
	border:solid 2px #F28C88;
	background-color: #F28C88;
}

button.analyze-button:active{
	border-color: #E7A535;
	background-color: #E7A535;
}

button:focus {
    outline: 0;
}
